@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color: #F59E0B;
}

/* Dark theme styles */
.dark {
    background-color: #333;
    color: white;
  }
  
  /* Light theme styles */
  .light {
    background-color: #f3f4f6;
    color: black;
  }